@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf");
}

body {
  background: radial-gradient(
      33.87% 73.37% at 91.81% 56.53%,
      rgba(255, 0, 92, 0.5) 0%,
      rgba(255, 0, 92, 0) 100%
    ),
    radial-gradient(
      36.81% 89.44% at 0% -8.33%,
      rgba(255, 199, 0, 0.5) 0%,
      rgba(255, 230, 0, 0) 100%
    ),
    radial-gradient(
      40.79% 93.61% at 50% 0%,
      rgba(60, 216, 225, 0.8) 0%,
      rgba(43, 159, 196, 0) 100%
    ),
    radial-gradient(
      104.03% 104.03% at 50% 114.72%,
      rgba(26, 31, 21, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #111913;

  height: 100vh;
  min-height: 360px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  color: #fff;
  text-align: center;

  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;

  font-size: 24px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}

.hidden {
  opacity: 0;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  max-height: 90px;

  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.185em;
  text-transform: uppercase;

  border: 5px solid transparent;
  border-radius: 50px;
  background: linear-gradient(0deg, #8a15ff 0%, #ff33a1 100%) padding-box,
    linear-gradient(0deg, #d300b6 0%, #b600ba 100%) border-box;
}

.balance_field {
  width: 140px;
  height: 30px;

  font-size: 16px;

  transform-origin: top center;

  background: rgba(30, 18, 51, 0.65);
  border: 1px solid #ff0099;
  backdrop-filter: blur(23px);
  -webkit-backdrop-filter: blur(23px);
  border-radius: 15px;
}

.balance_field img {
  max-height: 80%;
  margin-right: 10px;
}

.balance {
  transition: color 0.5s ease;
}

.balance.anim {
  color: turquoise;
}

.back {
  position: absolute;
  z-index: -1;
  max-width: 40%;
  max-height: 40%;
}

.tl {
  top: 0;
  left: 0;
}

.tr {
  top: 0;
  right: 0;
}

.br {
  bottom: 0;
  right: 0;
}

.volume_cont {
  position: absolute;

  width: 30px;
  height: 30px;

  transform-origin: top left;

  background: rgba(137, 136, 137, 0.45);
  border: 1px solid #ff0099;
  border-radius: 50%;
  backdrop-filter: blur(23px);
  -webkit-backdrop-filter: blur(23px);
}

.volume_cont img {
  max-height: 80%;
  max-width: 80%;
}

@media screen and (max-width: 640px) {
  .wrapper {
    font-size: 18px;
  }
}
